@import "leaflet/dist/leaflet.css"; /* Move this to the top */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  .slider-heading {
    width: 600px;
  }
  .slider-para {
    width: 350px;
    margin-top: 20px;
  }
}

.map-container {
  height: 500px;
  width: 100%;
}
